Package: libmtpserver-dev
Source: mtp
Version: 0.0.4+16.14.20160413-0ubuntu5
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 100
Depends: libmtpserver1 (= 0.0.4+16.14.20160413-0ubuntu5)
Section: libdevel
Priority: optional
Homepage: http://launchpad.net/mtp
Description: Library for implementing MTP protocol servers - development files
 Exposes phone storage over MTP.
 .
 Contains header files required to develop actual services.
Original-Maintainer: Thomas Voß <thomas.voss@canonical.com>
