Source: mtp
Section: utils
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Thomas Voß <thomas.voss@canonical.com>
Build-Depends: debhelper (>= 9), 
               dh-translations,
               cmake, 
               pkg-config,
               libboost-dev,
               libboost-thread-dev,
               libboost-filesystem-dev,
               libboost-test-dev,
               libandroid-properties-dev,
               libgoogle-glog-dev,
               libdbus-1-dev,
               libproperties-cpp-dev,
               libdbus-cpp-dev,
Standards-Version: 3.9.4
Homepage: http://launchpad.net/mtp
# If you aren't ~phablet-team but need to upload packaging changes,
# just go ahead.  ~phablet-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~phablet-team/mtp/trunk
Vcs-Browser: https://bazaar.launchpad.net/~phablet-team/mtp/trunk/files
X-Ubuntu-Use-Langpack: yes

Package: libmtpserver1
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Library for implementing MTP protocol servers - shared library
 Exposes phone storage over MTP.
 .
 This package contains the shared library for MTP.

Package: libmtpserver-dev
Section: libdevel
Architecture: any
Depends: libmtpserver1 (= ${binary:Version}),
         ${misc:Depends},
Description: Library for implementing MTP protocol servers - development files
 Exposes phone storage over MTP. 	  
 .
 Contains header files required to develop actual services.

Package: mtp-server
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Small server implementation of MTP.
 Exposes phone storage over MTP. 	  
 .
 Contains a simple MTP server that exposes images, videos, and music.

