--- drivers/bluetooth/Kconfig	2019-04-05 16:31:40.000000000 -0400
+++ drivers/bluetooth/Kconfig	2019-11-22 06:58:54.103334409 -0500
@@ -171,6 +171,7 @@
 	bool "Broadcom protocol support"
 	depends on BT_HCIUART
 	depends on BT_HCIUART_SERDEV
+	depends on (!ACPI || SERIAL_DEV_CTRL_TTYPORT)
 	select BT_HCIUART_H4
 	select BT_BCM
 	help
