Package: linux-libc-dev
Source: linux-4.14.13-16ton-full
Version: 4.14.13-16ton-full-4
Architecture: amd64
Maintainer: Anonymous <root@maddocks-Q552UB>
Installed-Size: 4990
Provides: linux-kernel-headers
Section: devel
Priority: optional
Homepage: http://www.kernel.org/
Description: Linux support headers for userspace development
 This package provides userspaces headers from the Linux kernel.  These headers
 are used by the installed headers for GNU glibc and other system libraries.
