*.gcno
*.la
*.lo
*.loT
*.o
.deps/
.dirstamp
.libs/
Makefile
Makefile.in

/downloads

/Makefile.iptrules
/Makefile.mans
/.*.lst
/matches.man
/targets.man

/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/libtool
/stamp-h1
/xtables-addons.8
