Package: linux-headers-4.14.0-16ton-gpd-win-gaming-conf+
Source: linux-4.14.0-16ton-gpd-win-gaming-conf+
Version: 4.14.0-16ton-gpd-win-gaming-conf+-2
Architecture: amd64
Maintainer: Anonymous <root@maddocks-Q552UB>
Installed-Size: 77821
Section: kernel
Priority: optional
Homepage: http://www.kernel.org/
Description: Linux kernel headers for 4.14.0-16ton-gpd-win-gaming-conf+ on amd64
 This package provides kernel header files for 4.14.0-16ton-gpd-win-gaming-conf+ on amd64
 .
 This is useful for people who need to build external modules
