Package: wpasupplicant
Source: wpa
Version: 2.9-16
Architecture: amd64
Maintainer: Debian wpasupplicant Maintainers <pkg-wpa-devel@lists.alioth.debian.org>
Installed-Size: 2398
Depends: libc6 (>= 2.15), libdbus-1-3 (>= 1.9.14), libnl-3-200 (>= 3.2.7), libnl-genl-3-200 (>= 3.2.7), libpcsclite1 (>= 1.0.0), libreadline6 (>= 6.0), libssl1.0.0 (>= 1.0.1), lsb-base, adduser
Suggests: wpagui, libengine-pkcs11-openssl
Breaks: initscripts (<< 2.88dsf-13.3)
Section: net
Priority: optional
Multi-Arch: foreign
Homepage: http://w1.fi/wpa_supplicant/
Description: client support for WPA and WPA2 (IEEE 802.11i)
 WPA and WPA2 are methods for securing wireless networks, the former
 using IEEE 802.1X, and the latter using IEEE 802.11i. This software
 provides key negotiation with the WPA Authenticator, and controls
 association with IEEE 802.11i networks.
